NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=autoresearch
DATABASE_PASSWORD=autoresearch_secret
DATABASE_NAME=autoresearch
WORKER_URL=http://localhost:8000
PORT=4000
CORS_ORIGIN=*
